.content {

  &__container {
    @extend %container;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    @include xl-lg {
      flex-wrap: wrap;
    }

    @include lg-md {
      flex-wrap: wrap;
    }
  }
}