.content-main {
  margin: 0 $gutter $gutter;
  width: 800px;
  height: 900px;

  &__breadcrumb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 38px;
    padding: 0 20px;
    margin-bottom: $gutter;
    @extend %overlay;
    background-color: unset;
    background-image: linear-gradient(to left, rgba($dark-color, 0.8), rgba($dark-color, 0));

    span {
      padding-right: 8px;
      color: $light-color;
      font-size: 0.875rem;
      line-height: 2em;
      letter-spacing: 0.1em;
      font-weight: bold;

      &:last-of-type {
        padding-right: 0px;
        font-weight: lighter;
        letter-spacing: 0.15em;
      }
    }

    &:last-of-type {
      font-weight: lighter;
    }
  }

  &__title {
    height: 58px;
    margin-bottom: $gutter;
    @extend %overlay;
    background-color: unset;
    background-image: linear-gradient(to right, rgba($dark-color, 0.8), rgba($dark-color, 0.7), rgba($dark-color, 0.65), rgba($dark-color, 0.6), rgba($dark-color, 0.55), rgba($dark-color, 0.55), rgba($dark-color, 0.55), rgba($dark-color, 0.55), rgba($dark-color, 0));

    h2 {
      padding: 12px 10px;
    }
  }

  &__tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-item {
      position: relative;
      margin-bottom: $gutter / 2;
      width: calc((100% - 30px) / 3 );
      height: 175px;
      @extend %overlay;

      &--content {
        position: relative;
        margin: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        overflow: hidden;

        &-link {
          background-color: rgba($dark-color, 0.5);

          &:hover ~ .content-main__tiles-item--content-caption {
            display: block;
            transform: translateY(-137px);
          }

          &:hover > a > p {
            color: $main-color-highlighted;
          }

          a {
            text-decoration: none;

            p {
              margin: 0;
              padding: 0 12px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        &-caption {
          position: absolute;
          bottom: -137px;
          margin: 0;
          padding: 17px 0;
          height: calc(100% - 28px);
          text-align: center;
          background-color: rgba($dark-color, 0.5);
          transition: 0.6s;

          p {
            margin: 0;
            line-height: 1.5em;
          }
        }
      }
    }
  }

}