/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

.header__container, .content__container, .widgets__container, .footer__container {
  max-width: 1320px;
  margin: 0 auto;
}

.header__container, .content-main__breadcrumb, .content-main__title, .content-main__tiles-item, .widgets-item, .content-leftside__search, .content-leftside__categories, .content-leftside__categories-list li:hover, .content-leftside__categories-list li:focus, .content-leftside__about, .content-rightside__news, .news-articles__item:hover, .news-articles__item:focus, .footer__container {
  border-radius: 7px;
}

.widgets-item h3, .content-leftside__search h3, .content-leftside__categories h3, .content-leftside__about h3, .content-rightside__news h3, .footer__container h3 {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  padding: 0 30px;
}

@media (max-width: 1200px) {
  body {
    padding: 0 15px;
  }
}

h1 {
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #eeeeee;
}

@media (max-width: 768px) and (min-width: 577px) {
  h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.18rem;
  }
}

h2 {
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 1.9rem;
  color: #eeeeee;
  letter-spacing: 0.06em;
}

@media (max-width: 768px) and (min-width: 577px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  margin: 0;
  font-family: "Lora", serif;
  font-weight: 100;
  font-size: 1.125rem;
  color: #eeeeee;
  letter-spacing: 0.03rem;
}

h4 {
  color: #eeeeee;
}

p {
  margin: 17px 0;
  padding: 0;
  color: #eeeeee;
  font-size: 0.875rem;
  line-height: 2em;
}

.header {
  margin-bottom: 30px;
}

.header__container {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
}

.header-logo {
  padding: 45px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .header-logo {
    padding: 15px;
  }
}

.header-logo__image {
  margin: 0 auto;
  display: block;
  max-width: 400px;
}

@media (max-width: 992px) {
  .header-logo__image {
    max-width: 250px;
  }
}

.header-logo h1 {
  margin-top: 31px;
  margin-bottom: 0;
  letter-spacing: 0.4rem;
  text-align: center;
}

@media (max-width: 768px) and (min-width: 577px) {
  .header-logo h1 {
    margin-top: 18px;
  }
}

@media (max-width: 576px) {
  .header-logo h1 {
    margin-top: 16px;
  }
}

.header-logo__sign {
  margin-top: 19px;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.12rem;
  font-weight: 600;
  color: #eeeeee;
}

.header-navbar {
  height: auto;
}

.header-navbar__hamburger {
  margin: 0 auto;
  padding: 19px 0;
  display: none;
  width: 30px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-navbar__hamburger {
    display: block;
  }
}

.header-navbar__hamburger span {
  display: block;
  height: 2px;
  background: #eeeeee;
  margin-bottom: 4px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.header-navbar__hamburger span:nth-child(1) {
  transform-origin: 23%;
}

.header-navbar__hamburger span:nth-child(2) {
  transform-origin: left center;
}

.header-navbar__hamburger span:nth-child(3) {
  transform-origin: 20%;
  margin-bottom: 0;
}

.header-navbar__hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.header-navbar__hamburger.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.header-navbar__hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-navbar__list {
  height: 20px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
}

@media (max-width: 768px) {
  .header-navbar__list {
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-navbar__list.active {
    display: flex;
  }
}

.header-navbar__item {
  margin-right: 10px;
}

.header-navbar__item a {
  padding: 12px 15px;
  text-decoration: none;
  color: #eeeeee;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header-navbar__item a {
    flex-basis: 95%;
  }
}

.header-navbar__item a:hover {
  color: #bb1a1a;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header-navbar__item:last-of-type {
  margin-right: 0;
}

@media (max-width: 768px) {
  .header-navbar__item:last-of-type {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .header-navbar__item {
    padding: 0;
    margin: 12px 15px;
  }
}

.content__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 1200px) {
  .content__container {
    flex-wrap: wrap;
  }
}

.content-main {
  margin-bottom: 30px;
  padding: 0 30px;
  flex: 0 0 calc(100% - 220px -240px);
  height: auto;
}

@media (max-width: 1200px) and (min-width: 993px) {
  .content-main {
    flex: 0 0 calc(100% - 220px);
    padding: 0 0 0 30px;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .content-main {
    flex: 0 0 100%;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .content-main {
    flex: 0 0 100%;
    padding: 0;
  }
}

.content-main__breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 38px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.content-main__breadcrumb span {
  padding-right: 8px;
  color: #eeeeee;
  font-size: 0.875rem;
  line-height: 2em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.content-main__breadcrumb span:last-of-type {
  padding-right: 0px;
  font-weight: lighter;
  letter-spacing: 0.15em;
}

.content-main__breadcrumb:last-of-type {
  font-weight: lighter;
}

.content-main__title {
  margin-bottom: 30px;
}

.content-main__title h2 {
  padding: 12px 10px;
}

.content-main__tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.content-main__tiles-item {
  position: relative;
  margin-bottom: 15px;
  width: calc((100% - 30px) / 3);
}

.content-main__tiles-item:nth-of-type(10), .content-main__tiles-item:nth-of-type(11), .content-main__tiles-item:nth-of-type(12) {
  margin-bottom: 0;
}

@media (max-width: 992px) and (min-width: 769px) {
  .content-main__tiles-item {
    width: calc((100% - 30px) / 3);
  }
}

@media (max-width: 768px) {
  .content-main__tiles-item {
    width: calc((100% - 15px) / 2);
  }
}

@media (max-width: 576px) {
  .content-main__tiles-item {
    width: calc((100% - 15px) / 2);
  }
  .content-main__tiles-item:nth-of-type(10) {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .content-main__tiles-item {
    width: 100%;
  }
}

.content-main__tiles-item--content {
  position: relative;
  margin: 5px;
  max-width: calc(100% - 10px);
  height: calc(100% - 10px);
  overflow: hidden;
}

.content-main__tiles-item--content:hover .content-main__tiles-item--content-caption,
.content-main__tiles-item--content:focus .content-main__tiles-item--content-caption {
  top: 28px;
}

.content-main__tiles-item--content:hover .content-main__tiles-item--content-title p,
.content-main__tiles-item--content:focus .content-main__tiles-item--content-title p {
  color: #bb1a1a;
}

.content-main__tiles-item--content img {
  display: block;
  width: 100%;
}

.content-main__tiles-item--content-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-main__tiles-item--content-title p {
  position: relative;
  margin: 0;
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-main__tiles-item--content-caption {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 17px 0;
  height: calc(100% - 28px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.6s;
}

.content-main__tiles-item--content-caption p {
  margin: 0;
  line-height: 1.5em;
}

.content-leftside {
  flex: 0 0 220px;
  order: -1;
}

@media (max-width: 992px) and (min-width: 769px) {
  .content-leftside {
    order: 0;
  }
}

@media (max-width: 992px) {
  .content-leftside {
    flex: 0 0 calc((100% - 15px) / 2);
    margin-right: 15px;
    order: 0;
  }
}

@media (max-width: 576px) {
  .content-leftside {
    flex: 0 0 100%;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.content-rightside {
  width: 240px;
}

@media (max-width: 1200px) and (min-width: 993px) {
  .content-rightside {
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {
  .content-rightside {
    flex: 0 0 calc((100% - 15px) / 2);
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .content-rightside {
    flex: 0 0 100%;
    margin-bottom: 15px;
  }
}

.widgets {
  margin-bottom: 15px;
}

.widgets__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .widgets__container {
    flex-wrap: wrap;
  }
}

.widgets-item {
  margin-right: 15px;
  padding: 20px 15px;
  flex-basis: calc((100% - 45px) / 4);
}

@media (max-width: 992px) {
  .widgets-item {
    flex-basis: calc((100% - 15px) / 2);
  }
  .widgets-item:first-of-type {
    margin-bottom: 15px;
  }
  .widgets-item:nth-of-type(2) {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .widgets-item {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .widgets-item:last-of-type {
    margin-bottom: 0;
  }
}

.widgets-item:last-of-type {
  margin-right: 0;
}

.content-leftside__search {
  height: 120px;
  padding: 20px 15px;
  margin-bottom: 15px;
}

.content-leftside__search form {
  margin-top: 15px;
  background-color: rgba(238, 238, 238, 0.2);
  border: 1px solid rgba(238, 238, 238, 0.3);
  border-radius: 5px;
}

.content-leftside__search--input {
  width: calc(100% - 36px);
  height: 28px;
  padding-left: 5px;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-left: 1px solid rgba(238, 238, 238, 0.3);
}

.content-leftside__search--input::placeholder {
  color: #eeeeee;
}

.content-leftside__search--input:focus {
  outline: none;
}

.fas.fa-search::before {
  height: 10px;
  padding: 6px 8px;
  color: #eeeeee;
}

.content-leftside__categories {
  height: 345px;
  padding: 20px 15px;
  margin-bottom: 15px;
}

.content-leftside__categories-list {
  padding: 0;
  list-style: none;
}

.content-leftside__categories-list li {
  padding: 7px 0;
  transition: padding 0.5s;
}

.content-leftside__categories-list li:hover, .content-leftside__categories-list li:focus {
  padding: 7px 10px;
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.5);
}

.content-leftside__categories-list li:hover > a,
.content-leftside__categories-list li:focus > a {
  color: #e12727;
}

.content-leftside__categories-list--item {
  text-decoration: none;
  color: #eeeeee;
  font-size: 0.875rem;
}

.content-leftside__about {
  padding: 20px 15px;
}

.content-rightside__news {
  padding: 20px 15px;
}

.content-rightside__news-articles {
  margin: 20px 0 8px;
}

.news-articles__item {
  margin: 0 0 16px;
  height: 105px;
  padding: 0;
  clear: both;
}

.news-articles__item:hover, .news-articles__item:focus {
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.news-articles__item:hover h4,
.news-articles__item:focus h4 {
  color: #e12727;
}

.news-articles__item:last-of-type {
  margin-bottom: 0;
}

.news-articles__item a {
  text-decoration: none;
}

.news-articles__item h4 {
  margin: 0;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: color 0.5s ease;
}

.news-articles__item img {
  margin-right: 10px;
  width: 75px;
  float: left;
}

.news-articles__item p {
  padding: 0;
  margin: 0;
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1.5em;
  letter-spacing: 0.025em;
}

.footer {
  margin-bottom: 30px;
}

.footer__container {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container h3 {
  width: 300px;
  text-align: center;
}
