.content-leftside__categories {
  height: 345px;
  padding: 20px 15px;
  margin-bottom: $gutter / 2;
  @extend %overlay;

  h3 {
    @extend %bottom-line;
  }

  &-list {
    padding: 0;
    list-style: none;

    li {
      padding: 7px 0;
    }

    &--item {
      text-decoration: none;
      color: $light-color;
      //font-family: $base-font;
      font-size: 0.875rem;
    }
  }
}