.content-rightside__news {
  padding: 20px 15px;
  @extend %overlay;

  h3 {
    @extend %bottom-line;
  }

  &-articles {
    margin: 20px 0 8px;
  }
}

.news-articles__item {
  margin: 0 0 16px;
  height: 105px;
  padding: 0;
  clear: both;
  
  &:hover,
  &:focus {
    @extend %overlay;
    background-color: rgba($dark-color, 0.5);
    background: linear-gradient(to left, rgba($dark-color, 0), rgba($dark-color, 0.5), rgba($dark-color, 0));
  }

  &:hover h4,
  &:focus h4 {
    color: $main-color;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  h4 {
    margin: 0;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: color 0.5s ease;
  }

  img {
    margin-right: 10px;
    width: 75px;
    float: left;
  }

  p {
    padding: 0;
    margin: 0;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1.5em;
    letter-spacing: 0.025em;
  }
}