.content-rightside__news {
  padding: 20px 15px;
  @extend %overlay;

  h3 {
    @extend %bottom-line;
  }

  &-articles {
    margin: 20px 0 8px;
  }
}
.news-articles__item {
  position: relative;
  margin: 0 0 16px;
  height: 105px;
  padding: 0;
  clear: both;
  

  &:last-of-type {
    margin-bottom: 0;
  }

  h4 {
    margin: 0 0 10px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: color 0.5s ease;

    &:hover::after {
      @extend %overlay;
      top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($dark-color, 0.5);
  border-radius: 7px;
      background: linear-gradient(to left, rgba($dark-color, 0), rgba($dark-color, 0.5), rgba($dark-color, 0));
      opacity: 1;
    }

    &::after {
      content: " ";
      position: absolute;
      z-index: -1;
      transition: opacity 0.5s ease;
      opacity: 0;
    }

    &:hover {
      color: $main-color;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  img {
    margin-right: 10px;
    width: 75px;
    float: left;
  }

  p {
    padding: 0;
    margin: 0;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 100;
    font-size: 0.8rem;
    line-height: 1.5em;
    letter-spacing: 0.025em;
  }
}