.content-leftside__search {
  height: 120px;
  padding: 20px 15px;
  margin-bottom: $gutter / 2;
  @extend %overlay;

  h3 {
    @extend %bottom-line;
  }

  form {
    margin-top: 15px;
    background-color: rgba(238, 238, 238, 0.2);
    border: 1px solid rgba(238, 238, 238, 0.3);
    border-radius: 5px;
  }

  &--input {
    width: calc(100% - 36px);
    height: 28px;
    padding-left: 5px;
    font-size: 0.8rem;
    font-family: $base-font;
    color: $light-color;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-left: 1px solid rgba(238, 238, 238, 0.3);

    &::placeholder {
      color: $light-color;
    }

    &:focus {
      outline: none;
    }
  }
}

.fas.fa-search::before {
  height: 10px;
  padding: 6px 8px;
  color: $light-color;
}