.widgets {
  margin-bottom: $gutter / 2;

  &__container {
    @extend %container;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @include lg {
      flex-wrap: wrap;
    }
  }

  &-item {
    margin-right: $gutter / 2;
    padding: 20px 15px;
    flex-basis: calc((100% - 45px) / 4);
    @extend %overlay;

    @include md {
      flex-basis: calc((100% - 15px) / 2);
      
      &:first-of-type {
        margin-bottom: $gutter / 2;
      }

      &:nth-of-type(2) {
        margin-right: 0;
      }
    }

    @include xs {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: $gutter / 2;
    }

    &:last-of-type {
      margin-right: 0;
    }

    h3 {
      @extend %bottom-line;
    }
  }
}