.content-rightside {
  width: 240px;

  @include xl-lg {
    flex: 0 0 100%;
    margin-bottom: $gutter / 2;
  }

  @include md {
    flex: 0 0 calc((100% - 15px) / 2);
    margin-bottom: $gutter / 2;
  }

  @include xs {
    flex: 0 0 100%;
    margin-bottom: $gutter / 2;
  }
}