.header {
  max-height: 389px;

  &__container {
    @extend %container;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}