.header {
  max-height: 389px;
  margin-bottom: $gutter;

  &__container {
    @extend %container;
    position: relative;
    display: flex;
    flex-direction: column;
    @extend %overlay;
    border-radius: 0 0 7px 7px;
  }
}